div.texto-interno
    p a) A obra ou empreendimento/atividade ora licenciada deverá na fase de instalação:

    ol(style="list-style-type: upper-roman")
        li.text-justify
            | Executar a obra ou empreendimento/atividade considerando as Normas Brasileiras de Referência – NBR's que regulamentam a matéria, em especial as que se referem ao tratamento dos efluentes líquidos e gasosos e disposição final adequada dos resíduos sólidos;
        li.text-justify
            | Adquirir material de emprego imediato na construção civil, bem como madeiras e outros insumos de fornecedores devidamente regularizados no órgão ambiental competente;
        li.text-justify
            | Possuir a Outorga Preventiva ou Outorga de Direito de Uso dos Recursos Hídricos ou Dispensa de Outorga, quando for o caso;
        li.text-justify
            | No caso de detecção de sítios arqueológicos, as obras deverão ser paralisadas para que o órgão competente possa realizar a avaliação do material encontrado e sugerir as ações decorrentes;

    p b) Implantar o projeto executivo e de tratamento de efluentes (atmosférico e líquidos) e o plano de gerenciamento de resíduos sólidos – PGRS (somente para a fase de implantação).

    p c) Apresentar a cada 365 (trezentos e sessenta e cinco) dias, o Relatório de Informações Ambientais - RIAA, conforme estabelece o Decreto Estadual no 1120 de 08/07/2008, com redação alterada pelo Decreto Estadual no 1881 de 14/09/2009, de acordo com o Termo de Referência constante na página da SEMAS, na Rede Mundial de Computadores (Internet), acompanhado de cópia atualizada de todos os documentos com validade anual, assim como, da cópia do comprovante de pagamento do DAE referente a licença concedida.

