doctype html
html(lang='en')
    head
        title Licenciamento - Amapá
        link(rel="stylesheet" href="${templatePath}/style/estilo.css")
        meta(charset='UTF-8')
    body.top-header
        div.row.cabecalho
            p.text-center
                img.logo(src='/public/images/brasao_ap.png')
            p.text-center.gov
                | GOVERNO DO ESTADO DO AMAPÁ
                br
                | SECRETARIA DE ESTADO DO MEIO AMBIENTE - SEMA