ol.breadcrumb(ng-controller='breadcrumbController as breadcrumb', ng-if="verificaBreadCrumbHome()", ng-cloak)
	li(ng-repeat='item in breadcrumb.itens')
		span(ng-if="$last") {{item.title}}
		a(ng-if='!$last', href='{{item.href}}') {{item.title}}