div.text-justify
    p a) Apresentar a cada 365 (trezentos e sessenta e cinco) dias, o Relatório de Informações Ambientais – RIAA, conforme estabelece o Decreto Estadual no 1120 de 08/07/2008, com redação alterada pelo Decreto Estadual no 1881 de 14/09/2009, de acordo com o Termo de Referência constante na página da SEMAS, na Rede Mundial de Computadores (Internet), acompanhado de cópia atualizada de todos os documentos com validade anual, assim como, da cópia do comprovante de pagamento do DAE referente a licença concedida.
    p b) Realizar o monitoramento de efluentes (atmosférico e líquidos), aprovado por esta SEMAS.
    p c) Executar medidas de controle e gerenciamento de resíduos sólidos, conforme preconiza as legislações aplicáveis.