mixin inputErrors(form, name, ...errors)

	if name && errors
		.error-message(ng-messages= form + '.' + name + '.$error', ng-if= form + '.$submitted')
			for e in errors	
				div(ng-message= e) {{mensagens.valid.#{e}}}